<!DOCTYPE html>
<html lang="en">
    {% load static %}
    
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% if title %}
    <title>{{title}}</title>
  {% else %}
    <title>FarmersConnect</title>
  {% endif %}
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">   

  <!-- =======================================================
  * Template Name: FlexStart
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="static/img/logo.png" alt="">
        <span>FarmersConnect</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'news' %}">Market Insights</a></li>
          <li><a class="nav-link scrollto" href="{% url 'w_home' %}">Forecast</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="{% url 'signup' %}">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>


{% load static %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
	<link rel="stylesheet" href="{% static 'css/wholestyle.css' %}" />
	<link rel="stylesheet" href="{% static 'css/fstyle.css' %}" />
	<title>Farmer's Portal</title>

	<script defer="" src="{% static 'js/whole.js' %}"></script>
	<script defer="" src="../translation.js"></script>
	<script defer="" src="{% static 'js/farmers.js' %}"></script>


	<main>
		<div id="companyName">
			<a href="index.html" id="farmer">Farmer's Portal</a>
			<div id="farmer-description">One stop shop for farmers.</div>
		</div>

		<!-- MANAGE ITEMS -->
		<section id="ManageItems">
			<h2>Manage Items</h2>
			<table id="Items" class="content-table">
				<thead>
					<tr>
						<th>Category</th>
						<th>Item</th>
						<th>Original Qty.</th>
						<th>Available Qty.</th>
						<th>Price/kg</th>
						<th>REMOVE</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<th id="createNewItem" colspan="6">
							<a href="#">
								<i class="fa fa-plus-circle" aria-hidden="true"></i>
							</a>
						</th>
					</tr>
				</tbody>
			</table>
		</section>

		<!-- VIEW ORDERS -->
		<section id="ViewOrders">
			<h2>View Orders</h2>

			<!-- Open Orders -->
			<div>
				<h3>Open Orders</h3>

				<table id="open-orders">
					<thead>
						<tr>
							<th>Order Date</th>
							<th>Category</th>
							<th>Item</th>
							<th>Qty. Reqd.</th>
							<th>Price/kg</th>
							<th>Wholesaler's Number</th>
						</tr>
					</thead>

					<tbody>
					</tbody>
				</table>
			</div>

			<!-- Past Orders -->
			<div>
				<h3>Past Orders</h3>
				
				<table id="past-orders">
					<thead>
					  <tr>
						<th>Order Date</th>
						<th>Category</th>
						<th>Item</th>
						<th>Qty. Reqd.</th>
						<th>Price/kg</th>
						<th>Wholesaler's Number</th>
					  </tr>
					</thead>

					<tbody>
					</tbody>
				</table>
			</div>
		</section>
		
		<section id="AddItem" class="hide">			
			<div id="FloatingBox">
				<h2>Add Item</h2>
				
				<div id="ItemWrapper" class="option-wf">
					<label for="Item">Select Item:</label>
					<select name="option" id="Item">
						<optgroup label="Pulses">
							<option value="Chana">Chana</option>
							<option value="Moong">Moong</option>
							<option value="Tur">Tur</option>
							<option value="Urad">Urad</option>
						</optgroup>

						<optgroup label="Grains">
							<option value="Rice">Rice</option>
							<option value="Maize">Maize</option>
							<option value="Wheat">Wheat</option>
						</optgroup>

						<optgroup label="Vegetables">
							<option value="Tomatoes">Tomatoes</option>
							<option value="Potatoes">Potatoes</option>
							<option value="Carrots">Carrots</option>
							<option value="Onion">Onion</option>
						</optgroup>

						<optgroup label="Fruits">
							<option value="Mangoes">Mangoes</option>
							<option value="Apples">Apples</option>
							<option value="Bananas">Bananas</option>
							<option value="Grapes">Grapes</option>
						</optgroup>

						<optgroup label="Spices">
							<option value="Red Chillies">Red Chillies</option>
							<option value="Black Pepper">Black Pepper</option>
							<option value="Turmeric">Turmeric</option>
							<option value="Cardamom">Cardamom</option>
							<option value="Coriander">Coriander</option>
						</optgroup>
					</select>
				</div>

				<div id="UnitWrapper" class="option-wf">
					<label>Select Unit:</label>
					<select name="option" id="Unit">
						<option value="Quintal (Kg)" data-kg="100">Quintal (Kg)</option>
						<option value="Ton" data-kg="1000">Ton</option>
						<option value="Kg" data-kg="1">Kg</option>
					</select>
				</div>
				
				<div id="QuantityWrapper" class="floating-label">
					<input type="text" id="Quantity" placeholder="placeholder">
					<label for="Quantity">Available Quantity</label>
				</div>
				
				<div id="PriceWrapper" class="floating-label">
					<input type="text" id="Price" placeholder="placeholder">
					<label for="Price">Price / kg</label>
				</div>
				
				<
				
				<a id="AddNewItem" href="{% url 'farmers_home' %}">				<button id="AddNewItem" type="submit">BACK</button>
				</a> <button id="AddNewItem" type="submit">ADD</button>
			</div>
		</section>
	</main>
	<script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <script src="static/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  
  </body>
  </html>
  
