<html>
	<!-- <meta charset="UTF-8">
	<meta name="description" content = "A user-friendly website for farmers; A common sign up page for both, the farmers and the wholesalers." />
	<meta name="keywords" content="farmer, wholesaler, consumer, help, videos, login, signup, swadeshi, mandi, market, vegetables, fruits, grains, spices, food, village, price, Seed, Farm Machinery, Fertilizers, Soil Health, Pesticies, Market Price, Agromet Services, Crop information, Storage">
	<meta name="theme-color" content="#f4f4f4">
	<meta name="author" content="Kartik Soneji, Harsh Kapadia, Tushar Nankani">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
<!-- 
	<link rel="icon" href="../logo.svg" sizes="any" />
-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
  {% load static %}
	<link rel="stylesheet" href="{% static 'css/wholestyle.css' %}" />


    <link rel="stylesheet" href="{% static 'css/signup_style.css' %}" />
    
    <title>Sign Up</title>
  
	<!-- <script defer="" src="{% static 'js/util.js' %}"></script> -->
	<script defer="" src="../translation.js"></script>
	<script defer="" src="{% static 'js/sup.js' %}"></script>

	<script>
		function setEntityType(entity) {
			document.getElementById("EntityType").value = entity;
			document.getElementById("signup-form").action = `{% url 'signup' %}?entity=${entity}`;
		}
	</script>
	
   
	<main>
		<div id="login-box">
			<h1>Sign up</h1>
			<form method="post" action="{% url 'signup' %}" id="signup-form">
				{% csrf_token %}
				<div id="EntitySelect">
					<button class="entity" data-value="farmer" onclick="setEntityType('farmer')">Farmer</button>
					<button class="entity" data-value="wholesaler" onclick="setEntityType('wholesaler')">Wholesaler</button>
					<button class="entity" data-value="consumer" onclick="setEntityType('consumer')">Consumer</button>
				</div>
	
				<div class="floating-label">
					<input
						type="text"
						placeholder="placeholder"
						pattern="[^\s\d]{3,}"
						required=""
						id="name" name="name"
					/>
					<label for="Name">Name</label>
				</div>
	
				<div class="floating-label">
					<input
						id="Aadhar"
						name="Aadhar"
						type="text"
						placeholder="placeholder"
						pattern="\d{12}"
						minlength="12"
						maxlength="12"
						required=""
					/>
					<label for="Aadhar">Aadhar Card Number</label>
				</div>
				<input type="hidden" id="EntityType" name="entity_type" value="" />
				<button type="submit" id="Submit">SUBMIT</button>
			</form>
		</div>
	</main>
	
	</html>